header {
  height: 100px;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav .links ul {
  display: flex;
  justify-content: space-evenly;
}

header nav .links ul li {
  align-self: center;
}

main {
  padding: 250px 0;
}

footer {
  color: #ffff;
  background-color: #1b3c59;
}

footer .top_footer {
  padding: 50px 20px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px, solid #ffff;
}

