header{
  height: 100px;
  nav{
    @include display_flex;
    justify-content: center;
    .links{
      ul{
        @include display_flex;
        justify-content:space-evenly;
        li{
          align-self: center;
        }
      }
    }
  }
}
